.settings_page_ffpl-opt-in {
  notice.success, div.fs-notice.updated, .notice, #wpfooter {
    display:none!important;
  }
  .fpl-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    padding-top: 25vh;
    p {
      font-size: 16px;
    }
    .box {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      width: 400px;
      max-width: 90%;
      padding: 20px;
      text-align: center;
      position: relative;
    }

    .logo-container {
      text-align: center;
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
    }

    .logo {
      width: 300px; // Adjust the size of the logo
      height: 300px; // Adjust the size of the logo
      border-radius: 50%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .box-content {
      position: relative;
      margin-top: 60px; // Adjust the margin to accommodate the logo
    }

    .button-wrap {
      margin: 20px 0;
      display: flex;
      justify-content: space-between;
    }

    button {
      font-size: 17px;
    }

    .btn-optin {
    }

    .btn-skip {
    }

    .details-link {
      color: #007bff;
      text-decoration: underline;
      display: block;
      margin-top: 10px;
      float: right;

      &:hover {
        text-decoration: none;
      }
      &:focus {
        outline-offset: 2px; // Adds some space between the link and the outline
      }
    }

    .details-content {
      display: none;
      margin-top: 20px;
      text-align: left;
      border-top: 1px solid #ccc;
      padding-top: 10px;
    }
  }
}